@use 'normalize';

:root {
  --c-slider-comparison: #fff;
}

.slider-comparison {
  margin: auto;
  width: 720px;


  

  position: relative;
  overflow: hidden;
  aspect-ratio: 720 / 700;//первая ширина, вторая высота (надо задать, чтобы не плющило высоту)
	&__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    &--after {
    }

    &--before {
    }
  }

  &__line-top {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 61%;
    width: 6px;
    height: calc(50% - 20px);
    background-color: var(--c-slider-comparison);
    transform: translateX(-50%);
  }

  &__line-bottom {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 61%;
    width: 6px;
    height: calc(50% - 20px);
    background-color: var(--c-slider-comparison);
    transform: translateX(-50%);      
  }

  &__circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 61%;
    width: 39px;
    height: 39px;
    border: 6px solid var(--c-slider-comparison);
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &__input {
    cursor: pointer;
    position: relative;
    appearance: none;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 100%;      
    background-color: transparent;
    outline: none;
    &::-webkit-slider-thumb {
      appearance: none;
      height: 100%;
      width: 3px;
      background-color: transparent;
      background-size: contain;
      cursor: pointer;
    }
  }
}

@media (max-width: 767.98px) {
  .slider-comparison {
    &__img {
    }
    &__line-top,
    &__line-bottom {
      width: 2px;
      height: calc(50% - 10px);
    }
    &__circle {
      width: 20px;
      height: 20px;
      border: 2px solid var(--c-slider-comparison);
    }
  } 
}


/* 
<div class="slider-comparison">
  <img src="assets/img/explore-slider/after.webp" alt="after image"
    class="slider-comparison__img slider-comparison__img--after" loading="lazy">
  <img src="assets/img/explore-slider/before.webp" alt="before image"
    class="slider-comparison__img slider-comparison__img--before" loading="lazy"
    style="clip-path: polygon(0px 0px, 63% 0px, 63% 100%, 0px 100%);">
  <div class="slider-comparison__line-top" style="left: 63%;"></div>
  <div class="slider-comparison__line-bottom" style="left: 63%;"></div>
  <div class="slider-comparison__circle" style="left: 63%;"></div>
  <input class="slider-comparison__input" type="range" min="0" max="100" value="61">
</div>
*/

  